<!DOCTYPE html>
<html>
	<body>
	  <div class="main">
		<div class="contact-main">
			
			<h2>お問い合わせ</h2>
			<p>要望や質問等、ご自由にどうぞ</p>
			
			<script src="https://zawazawa.jp/em/js/include?t=easyjobhunt%2F3&h=200&size=10">a</script>
		</div>
	  </div>
	</body>
</html>