<!DOCTYPE html>
<html>
	<body>
		<div class="help-main">
			<h2>よくある質問</h2>
			<pre>
Q. 何が出来るの？
A. 志望企業をスマホ・PC等関係なく、Web上で一元的に管理できます。

Q. どうすれば始められるの？
A. トップ画面の「新規登録」よりユーザー登録を行えば、あなただけの管理画面が生成されます。以後はログインすれば利用可能です。

Q. セキュリティ面は大丈夫なの？
A. アルゴリズムによる強固な暗号化処理を行なっています。
			</pre>
			<br><br>
			<a href="rule.html">利用規約・プライバシーポリシー</a>
		</div>
	</body>
</html>
