<!DOCTYPE html>
<div class="main welcome-main">
  <div class="welcome-message">
    <h2>就職活動を、<div class="br"><br></div>もっと楽に。</h2>
    <p>「Easy Job Hunt」で志望企業を簡単に管理できます</p>
	<br><br>
	<li><%= link_to("新規登録", "/signup") %></li>
  </div>
</div>